---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";
$brand-color:  teal;
// Color scheme for light
$body-bg: #8399c0;
$body-bg-dark: #051b42;
// Width of the content area
$content-width:    800px;
$on-phone:         450px;
$on-palm:          660px;
$on-laptop:        1000px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
// Do not make any changes to this file. Go to /_sass and find the appropriate SCSS file and make changes there.

// JN: For now, split @import to anable conditional import of CSS. Also. @import may be deprecated soon so plan
// for this change

@import 'variables';
@import 'footer-social';
@import 'projects';
@import 'profile';
@import 'footer';
@import 'style';
@import 'google-fonts';
@import 'syntax-highlighting';
